body {
    background-color: black;
    color: lightgreen;
}

.container {
    max-width: 1000px;
}

.hamburgerMenuContainer {
    margin-top: 50px;
    position: fixed;
    right: 50px;
    cursor: pointer;
    z-index: 1;
}

.line {
    background-color: #fff;
    width: 30px;
    height: 3px;
    margin: 3px 0px;
    border-radius: 3px;
}

.line1,
.line2,
.line3,
.overlayMenu,
li {
    transition: all 0.5s ease;
}

.disapearLine {
    opacity: 0;
}

.rotatePlus45Deg {
    transform: rotate(45deg) translate(4px, 5px);
}

.rotateMinus45Deg {
    transform: rotate(-45deg) translate(4px, -5px);
}

.overlayMenu {
    background-color: darkcyan;
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

li {
    list-style: none;
    font-size: 35px;
    padding: 10px;
    margin: 10px;
    user-select: none;
    pointer-events: none;
    cursor: pointer;
}

.moveLiTagUpAndClickable {
    transform: translateY(-10px);
    pointer-events: auto;
}

.showOverlayMenu {
    opacity: 1;
}