body {
    background-color: #2F323C;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.toastAlert {
    padding: 10px;
    border-radius: 5px;
    color: white;
    position: relative;
    transition: bottom 0.4s ease-in-out;
}
