html, body {
    background-color: #191919;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.stopWatch {
    font-family: 'LED Digital 7', sans-serif;
    font-size: 128px;
    color: #FF9500;
}

.centiSeconds {
    font-family: 'LED Digital 7', sans-serif;
    font-size: 32px;
    color: #FF9500;
    margin-top: -50px;
    float: right;
}

.btn {
    margin: 10px;
}